extends layout

block content
  h1= title
  
  ul
    //list all authors from database
    each author in author_list
      li 
        a(href=author.url) #{author.name} 
        |  (#{author.date_of_birth} - #{author.date_of_death})
    else
      li There are no authors.
          //if there are no authors do this instead